.oneRepository {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 877px;
    background: #FFFFFF;
    border-radius: 6px;
    margin-top: 25px;
    padding: 24px 32px;
    gap: 16px;
}

.title {
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #0064EB;
}

.description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    pointer-events: none;
}

.oneRepository :hover {
    text-decoration: underline;
}

@media screen and (max-width: 1400px) {
    .oneRepository {
        width:80%;
    }
}

@media screen and (max-width: 780px) {
    .oneRepository {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .oneRepository {
        width: 280px;
        padding: 5px 5px;
    }
}